@model X.PagedList.IPagedList<FilaDeCampo.ViewModels.EscalaMesVM>
@using System.Globalization
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Dirigentes de Campo Sabados";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>
        <i class="fa-solid fa-business-time"></i>
        @ViewData["Title"]
    </h2>

    <a asp-action="Criar" class="btn btn-primary">
        Criar Escala
    </a>
</div>

<hr />

@if (!Model.Any())
{
    <p><strong>Nenhuma escala criada ainda.</strong></p>
}
else
{
    <ul class="list-group">
        @foreach (FilaDeCampo.ViewModels.EscalaMesVM item in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Mes)
                    / @item.Ano
                </span>

                <a asp-action="Detalhes"
                   asp-route-mes="@item.Mes"
                   asp-route-ano="@item.Ano"
                   class="btn btn-sm btn-outline-primary">
                    Ver Detalhes
                </a>
            </li>
        }
    </ul>

    <br />

    @Html.PagedListPager(Model, page =>
        Url.Action("Index", new { page })
    )
}
